@page "/about"

<style>
    h1, h2 {
        font-family: 'Russo One', cursive
    }

    hr {
        background-color: var(--navbar-background-color);
        height: 0.2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .contact-icon {
        font-size: 7vw;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h1>Antoine Griffard</h1>
            <p>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <a class="mx-auto contact-icon" href="https://github.com/agriffard/" target="_blank"><i class="bi bi-github"></i></a>
    </div>
</div>
